body {
    padding: 100px;
    -webkit-font-smoothing: antialiased;
}

input {
    background: none;
    border: solid 2px #c02c3a;
    color: #c02c3a;
    padding: 15px 20px;
    font-size: 18px;
    display: inline-block;
}

input:active,
input:focus {
    outline: none;
}

input[type="text"],
input[type="email"] {
    border: none;
    border-bottom: solid 2px #c02c3a;
}

input[type="submit"]:active {
    color: #fff;
    background: #c02c3a;
}

.input-group {
    margin-bottom: 33px;
    margin-right: 20px;
    position: relative;
}

label {
    position: absolute;
    top: 50%;
    left: 0px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 16px;
    color: #666;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.2s ease;
}

input:focus + label,
input.has-value + label {
    top: 0px;
    font-size: 12px;
    color: #aaa;
}

.input-group input {
    width: 100%;
    padding: 15px 0px;
}

img {
    position: absolute;
    right: 0;
    top: 15px;
    width: 25px;
    height: 25px;
    display: none;
}
